@import "@fontsource/space-mono";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@custom-variant 3xl {
  @media (width >= 120rem) {
    @slot;
  }
}
@custom-variant 4xl {
  @media (width >= 156rem) {
    @slot;
  }
}

@theme {
  --font-space-mono: "Space Mono", monospace;
  --color-primary-50: #f4f5f6;
  --color-primary-100: #e1e3e6;
  --color-primary-200: #c7cbd1;
  --color-primary-300: #a6abb3;
  --color-primary-400: #717883;
  --color-primary-500: #4c5661;
  --color-primary-600: #3d454f;
  --color-primary-700: #313840;
  --color-primary-800: #272e35;
  --color-primary-900: #1b1f23;
}

@layer utilities {
  .responsive-header {
    @apply text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl;
  }
  .responsive-subheader {
    @apply text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl 4xl:text-5xl;
  }
  .responsive-text {
    @apply text-base 3xl:text-2xl;
  }
  .responsive-text-sm {
    @apply text-sm 3xl:text-lg;
  }
  .responsive-text-xs {
    @apply text-xs 3xl:text-base;
  }
}
